@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 380px;
    padding: 15px;
    color: #FFF;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(61, 9, 128);
}

.container h2{
    padding: 25px;
}

#conselho{
    padding: 40px 0;
}

.container button {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    color: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(32, 2, 70);
}

.info{
    padding: 15px 0;
    font-size: 0.8rem;
}
